*,
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
img,
b,
u,
i,
center,
table,
tr,
th,
td,
video {
    margin: 0;
    padding: 0;
    border: 0
}

sup {
    line-height: 0;
    font-size: smaller;
    vertical-align: super
}

sub {
    line-height: 0;
    font-size: smaller;
    vertical-align: sub
}

.t-clear {
    clear: both
}

.t-row {
    margin: 0
}

.t-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0
}

.t-container.flexx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.t-container_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.t-container_100 {
    width: 100%;
    padding: 0
}

.t-container_10 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 0
}

.t-container_8 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    padding: 0
}

.t-container:before,
.t-container:after,
.t-container_10:before,
.t-container_10:after,
.t-container_8:before,
.t-container_8:after,
.t-container_100:before,
.t-container_100:after {
    display: table;
    content: " ";
    width: 0
}

.t-container:after,
.t-container_10:after,
.t-container_8:after,
.t-container_100:after {
    clear: both
}

.t-col {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%
}

.t-col.flexx {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.t-col_flex {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.t-col_1 {
    max-width: 60px
}

.t-col_2 {
    max-width: 160px
}

.t-col_3 {
    max-width: 260px
}

.t-col_4 {
    max-width: 360px
}

.t-col_5 {
    max-width: 460px
}

.t-col_6 {
    max-width: 560px
}

.t-col_7 {
    max-width: 660px
}

.t-col_8 {
    max-width: 760px
}

.t-col_9 {
    max-width: 860px
}

.t-col_10 {
    max-width: 960px
}

.t-col_11 {
    max-width: 1060px
}

.t-col_12 {
    max-width: 1160px
}

.t-col_100 {
    max-width: 100vw
}

.t-prefix_1 {
    padding-left: 100px
}

.t-prefix_2 {
    padding-left: 200px
}

.t-prefix_3 {
    padding-left: 300px
}

.t-prefix_4 {
    padding-left: 400px
}

.t-prefix_5 {
    padding-left: 500px
}

.t-prefix_6 {
    padding-left: 600px
}

.t-prefix_7 {
    padding-left: 700px
}

.t-prefix_8 {
    padding-left: 800px
}

.t-prefix_9 {
    padding-left: 900px
}

.t-prefix_10 {
    padding-left: 1000px
}

.t-prefix_11 {
    padding-left: 1100px
}

.t-prefix_12 {
    padding-left: 1200px
}

.t-width {
    width: 100%
}